@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="guitar">
    <div class="guitar_pic_container">
        <div class="guitar_pic">
        </div>
    </div>
    <div class="guitar_details_container">
        <div class="guitar_details"></div>
    </div>
    <div class="guitar_description"></div>
    <div class="guitar_sitelogo"></div>
</div>